{{- $fullName := include "kubenurse.fullname" . -}}
---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  labels:
    {{- include "kubenurse.labels" . | nindent 4 }}
  name: {{ include "kubenurse.fullname" . }}
  namespace: {{ .Release.Namespace }}
spec:
  selector:
    matchLabels:
      {{- include "kubenurse.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "kubenurse.selectorLabels" . | nindent 8 }}
        {{- if .Values.daemonset.podLabels }}
        {{- toYaml .Values.daemonset.podLabels | nindent 8 }}
        {{- end }}
      annotations:
        prometheus.io/path: "/metrics"
        prometheus.io/port: "8080"
        prometheus.io/scheme: "http"
        prometheus.io/scrape: "true"
        {{- if .Values.daemonset.podAnnotations }}
        {{- toYaml .Values.daemonset.podAnnotations | nindent 8 }}
        {{- end }}
    spec:
      securityContext:
      {{- if .Values.daemonset.podSecurityContext -}}
      {{ toYaml .Values.daemonset.podSecurityContext | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "kubenurse.serviceAccountName" . }}
      containers:
      - name: {{ include "kubenurse.name" . | quote }}
        securityContext:
          {{- if .Values.daemonset.containerSecurityContext -}}
          {{ toYaml .Values.daemonset.containerSecurityContext | nindent 10 }}
          {{- end }}
        resources:
          {{- if .Values.daemonset.containerResources -}}
          {{ toYaml .Values.daemonset.containerResources | nindent 10 }}
          {{- end }}
        imagePullPolicy: {{ .Values.daemonset.containerImagePullPolicy }}
        env:
        - name: KUBENURSE_INGRESS_URL
          value: https://{{ .Values.ingress.url }}
        - name: KUBENURSE_SERVICE_URL
          value: {{ default (printf "http://%s.%s.svc.cluster.local:%.f" $fullName .Release.Namespace .Values.service.port) .Values.service_url }}
        - name: KUBENURSE_INSECURE
          value: {{ .Values.insecure  | quote }}
        - name: KUBENURSE_ALLOW_UNSCHEDULABLE
          value: {{ .Values.allow_unschedulable  | quote }}
        - name: KUBENURSE_NAMESPACE
          value: {{ .Release.Namespace }}
        - name: KUBENURSE_NEIGHBOUR_FILTER
          value: {{ .Values.neighbour_filter }}
          {{- if .Values.extra_ca }}
        - name: KUBENURSE_EXTRA_CA
          value: {{ .Values.extra_ca }}
          {{- end }}
        - name: KUBENURSE_CHECK_API_SERVER_DIRECT
          value: {{ .Values.check_api_server_direct | quote }}
        - name: KUBENURSE_CHECK_API_SERVER_DNS
          value: {{ .Values.check_api_server_dns | quote }}
        - name: KUBENURSE_CHECK_ME_INGRESS
          value: {{ .Values.check_api_me_ingress | quote }}
        - name: KUBENURSE_CHECK_ME_SERVICE
          value: {{ .Values.check_api_me_service | quote }}
        - name: KUBENURSE_CHECK_NEIGHBOURHOOD
          value: {{ .Values.check_neighbourhood | quote }}
        - name: KUBENURSE_CHECK_INTERVAL
          value: {{ .Values.check_interval }}
        - name: KUBENURSE_USE_TLS
          value: {{ .Values.use_tls | quote }}
          {{- if .Values.cert_file }}
        - name: KUBENURSE_CERT_FILE
          value: {{ .Values.cert_file }}
          {{- end }}
          {{- if .Values.cert_key }}
        - name: KUBENURSE_CERT_KEY
          value: {{ .Values.cert_key }}
          {{- end }}
          {{- if .Values.daemonset.extraEnvs -}}
          {{- toYaml .Values.daemonset.extraEnvs | nindent 8 }}
          {{- end }}
        image: "{{ .Values.daemonset.image.repository  }}:{{ .Values.daemonset.image.tag | default .Chart.AppVersion }}"
        ports:
        - containerPort: 8080
          protocol: TCP
        readinessProbe:
          failureThreshold: 1
          httpGet:
            path: /ready
            port: 8080
            scheme: HTTP
          periodSeconds: 3
          successThreshold: 1
          timeoutSeconds: 1
        livenessProbe:
          httpGet:
            path: /ready
            port: 8080
            scheme: HTTP
          failureThreshold: 6
          periodSeconds: 10
        startupProbe:
          httpGet:
            path: /ready
            port: 8080
            scheme: HTTP
          failureThreshold: 60
          periodSeconds: 2
        volumeMounts:
        {{- if .Values.daemonset.volumeMounts -}}
        {{- toYaml .Values.daemonset.volumeMounts | nindent 8 }}
        {{- end }}
      tolerations:
      {{- if .Values.daemonset.tolerations }}
      {{- toYaml .Values.daemonset.tolerations | nindent 6 }}
      {{- end }}
      dnsConfig:
      {{- if .Values.daemonset.dnsConfig }}
      {{- toYaml .Values.daemonset.dnsConfig | nindent 8 }}
      {{- end }}
      volumes:
      {{- if .Values.daemonset.volumes -}}
      {{- toYaml .Values.daemonset.volumes | nindent 6 }}
      {{- end }}
      {{- if .Values.daemonset.priorityClassName }}
      priorityClassName: {{ .Values.daemonset.priorityClassName }}
      {{- end }}
