---
name: ci
on:
  push:
  pull_request:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Go
        uses: actions/setup-go@v2
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v2
        with:
          version: v1.32
      - name: GoReleaser
        uses: goreleaser/goreleaser-action@v2
        with:
          version: latest
          args: release --snapshot --rm-dist --skip-publish
      - name: Setup kind
        uses: engineerd/setup-kind@v0.5.0
      - name: Show cluster info and switch to kube-system
        run: |
          kubectl cluster-info
          echo "current-context:" $(kubectl config current-context)
          kubectl config set-context --current --namespace kube-system
      - name: Import image into kind
        run: kind load docker-image postfinance/kubenurse:latest
      - name: Deploy example setup
        run: |
          kubectl apply -R -f examples/
      - name: Wait for pods
        timeout-minutes: 1
        run: |
          sleep 15 # wait for the scheduler to create pods
          kubectl wait pods -l app=kubenurse --for=condition=Ready
      - name: Check state of pods
        run: |
          kubectl get pods -l app=kubenurse
      - name: Show Kubernetes resources
        run: kubectl get pods -o wide
        if: ${{ always() }}
      - name: Describe resources on failure
        run: |
          kubectl describe pods
          kubectl describe daemonsets
          kubectl get events
        if: ${{ failure() }}
# TODO:
# - Check metrics
# - Really check state of pods (count, state, restart count)
